<launch>
  <arg name="x_pos" default="-1.8"/>
  <arg name="y_pos" default="0.4"/>
  <arg name="z_pos" default="0.0"/>
  
  <param name="robot_description" command="$(find xacro)/xacro $(find urdf_description)/urdf/urdf.xacro"/>
  <node name="spawn_urdf" pkg="gazebo_ros" type="spawn_model" args="-x $(arg x_pos) -y $(arg y_pos) -z $(arg z_pos) -param robot_description -urdf -model urdf"/>
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find urdf_description)/worlds/turtlebot3_house.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>
  <node pkg="tf" type="static_transform_publisher"  name="map_to_odom"
      args="0 0 0 0 0 0 /map /odom 100" /> 
  <include file="$(find urdf_description)/launch/move_base.launch" />
  <include file="$(find urdf_description)/launch/display.launch" />
</launch>
